.cabeca{
  background-color: rgb(111, 206, 206);
}

.sessao{
  background-color: rgb(187, 136, 235);
}

.artigo{
  background-color: rgb(184, 236, 184);
}

.computador{
  background-color: pink;
}

.rodape{
  background-color: rgb(235, 191, 134);
}